body {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    background-image: url("https://i.pinimg.com/736x/26/26/a8/2626a84ae8eb7f771af5eed0268ca3e6.jpg");
}

.img2{
    background-image: url("https://i.pinimg.com/1200x/a5/eb/fa/a5ebfad32f2c387c96eebb9b17e22857.jpg");
}

.box{
    display: flex;
    background-color: black;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}