.table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

.cell {
    border-style: solid;
}

.blue {
    background-color: blue;
    width: 300px;
}

.pink {
    background-color: pink;
    width: 300px;
}